
@{
    ViewBag.Title = "policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chính sách của Tin Tức Mới Nhất</h2>
<p>- Chúng tôi không thu thập bất cứ thông tin riêng tư nào của độc giả nếu không được sự đồng ý của độc giả.</p>
<p>- Chúng tôi không sử dụng dữ liệu của độc giả cung cấp cho bên thứ ba</p>
<p>- Chúng tôi cam kết bảo mật thông tin độc giả</p>
<p>- Mọi nội dung trên website đều có trích dẫn đầy đủ nguồn gốc, đề nghị quý độc giả khi sử dụng lại cũng cam kết tuân thủ quy tắc ghi rõ nguồn gốc như Tin Tức Mới Nhất đã ghi</p>
