
@{
    ViewBag.Title = "Đăng Ký Thành Viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12" style="min-height:200px;">
    <h1 style="text-align:center;">Đăng Ký Thành Viên</h1>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="row" style="width:75%;top:25%;left:12%;background:#f4f4f4;color:#000000;position:relative;padding-left:5px;padding-right:5px;text-align:left;display:block;z-index:1002;" id="dv_user_comment">
        @*<span onclick="$('#dv_user_comment').hide();" style="display:block;position:absolute;float:right;cursor:pointer;width:100%;">X</span>*@
        <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2 id="driverphone">Trở Thành Thành Viên Website</h2><p>Bạn sẽ được gửi tin quảng bá doanh nghiệp mình, bình luận các tin tức khác, tương tác với các thành viên khác</p></div>
        <div>
            <form class="form-horizontal" action="/Home/SubmitRegister" method="post" id="register">
                <fieldset>
                    <legend class="text-center">Thông tin</legend>
                    <input id="id_user" name="id_user" type="hidden" value="0" />
                    <!-- Name input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Họ Tên</label>
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Gõ tên bạn" class="form-control">
                        </div>
                    </div>
                    <!-- Email input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">E-mail</label>
                        <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Nhập email" class="form-control" onblur="checkDuplicate(1);">
                        </div>
                    </div>
                    <!-- Phone input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Điện thoại</label>
                        <div class="col-md-9">
                            <input id="phone" name="phone" type="text" placeholder="Nhập số điện thoại" onblur="checkDuplicate(2);" class="form-control" >
                        </div>
                    </div>
                    <!-- Phone input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Mật khẩu</label>
                        <div class="col-md-9">
                            <input id="pass" name="pass" type="password" placeholder="Nhập mật khẩu" class="form-control">
                        </div>
                    </div>
                    <!-- Phone input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Xác nhận mật khẩu</label>
                        <div class="col-md-9">
                            <input id="pass2" name="pass2" type="password" placeholder="Xác nhận mật khẩu" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Click để Xác nhận</label>
                        <div class="col-md-9">
                            <div class="g-recaptcha" data-sitekey="6LegNS8UAAAAANtQJISgU8vOUhomC26nOARvds-h"></div>
                        </div>
                    </div>
                    <input type="button" value="ĐĂNG KÝ" class="btn btn-primary btn-block" onclick="submitcomment();" style="margin-bottom:5px;" />
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script>
    function submitcomment() {
        if ($('#name').val() == "") {
            alert("Nhập họ tên!");
            document.getElementById("name").focus();
            return;
        }
        if ($('#email').val() == "") {
            alert("Nhập email!");
            document.getElementById("email").focus();
            return;
        }
        if ($('#phone').val() == "") {
            alert("Nhập số điện thoại!");
            document.getElementById("phone").focus();
            return;
        }
        if ($('#pass').val() == "") {
            alert("Nhập mật khẩu!");
            document.getElementById("pass").focus();
            return;
        }
        if ($('#pass2').val() != $('#pass').val()) {
            alert("Nhập mật khẩu không giống nhau!");
            document.getElementById("pass2").focus();
            return;
        }
        document.getElementById("register").submit();
    }
    function checkDuplicate(type) {
        //var val = obj.value;
        if (type == 1) {
            $.ajax({
                url: "/profiles/checkDuplicate", type: 'post',
                data: { val: $("#email").val(),type:1},
                success: function (rs) {
                    //alert(rs);
                    if (rs == "True") {
                        alert("Đã có email " + $("#email").val() + " này rồi, bạn chọn email khác");
                        document.getElementById("email").focus();
                    } else {

                    }
                }
            });
        } else {
            $.ajax({
                url: "/profiles/checkDuplicate", type: 'post',
                data: { val: $("#phone").val(), type: 2 },
                success: function (rs) {
                    //alert(rs);
                    if (rs == "True") {
                        alert("Đã có số điện thoại " + $("#phone").val() + " này rồi, bạn chọn số khác");
                        document.getElementById("phone").focus();
                    } else {

                    }
                }
            });
        }
    }
</script>
