
@{
    ViewBag.Title = "Web To Pdf Converter - Chuyển trang web thành file pdf ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name="description" content="pdf,pdf converter,web to pdf,url to pdf, convert to pdf, pdf converter free, convert html to pdf online, web to pdf converter">
    <meta name="keywords" content="pdf,pdf converter,web to pdf,url to pdf, convert to pdf, pdf converter free, convert html to pdf online, web to pdf converter">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="fb:app_id" content="1930351307185969" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Công cụ">
    <meta property="og:url" content="http://tintucmoinhat.vn/web-to-pdf-converter">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="pdf,pdf converter,web to pdf,url to pdf, convert to pdf, pdf converter free, convert html to pdf online, web to pdf converter">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://tintucmoinhat.vn/images/pdf.png">
}
<div class="col-md-12" style="min-height:200px;">
    <h1 style="text-align:center;">Chuyển trang web thành file pdf</h1>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="row" style="width:75%;top:25%;left:12%;background:#f4f4f4;color:#000000;position:relative;padding-left:5px;padding-right:5px;text-align:left;display:block;z-index:1002;" id="dv_user_comment">

        <div style="width:100%;text-align:center;color:#000000;" class="standardcss"><h2 id="driverphone">Lưu ý</h2><p>Bạn copy đường dẫn 1 website bất kỳ và công cụ sẽ chuyển đổi nội dung website đó thành file pdf</p></div>
        <div>
            <form class="form-horizontal" action="/Home/SubmitWebToPdfConverter" method="post" id="register">
                <fieldset>
                    <legend class="text-center">Thông tin</legend>
                    <input id="user_id" name="user_id" type="hidden" value="@ViewBag.user_id" />
                    <!-- Name input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Link</label>
                        <div class="col-md-9">
                            <input id="link" name="link" type="text" placeholder="Copy đường link website vào đây" class="form-control" onblur="checkDuplicateNews();">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Click để Xác nhận</label>
                        <div class="col-md-9">
                            <div class="g-recaptcha" data-sitekey="6LegNS8UAAAAANtQJISgU8vOUhomC26nOARvds-h"></div>
                        </div>
                    </div>
                    <input type="button" value="CONVERT" class="btn btn-primary btn-block" onclick="submitcomment();" style="margin-bottom:5px;" id="btnsubmit"/>
                </fieldset>
            </form>
        </div>

    </div>
</div>
<script>
    function submitcomment() {
        if ($('#link').val() == "") {
            alert("Nhập link!");
            document.getElementById("link").focus();
            return;
        }
        document.getElementById("register").submit();
        document.getElementById("btnsubmit").value = "ĐANG XỬ LÝ XIN ĐỢI...";
        document.getElementById("btnsubmit").disabled = true;
    }
    
</script>

